.annotation-main-container {
    margin-top: 10px;
}

.video-container {
    margin: 0px auto;
    background: #333;
}

.main-video {
    position: relative;
    padding: 0px;
}

.video-slider {
    width: 100%;
}

.video-controls {
    margin: auto;
    margin-top: 1px;
    background: #333;
    color: #CCC;
}

#region-controls {
    display: none;
}

.annotation-container {
    margin-top: 1px;
    background: #333;
}

.annotation-label {
    margin-left: 10px;
    text-align: left;
    color: #ffffff;
}

.annotation-controls {
    padding: 0px;
    text-align: right;
}

.annotation-canvas-stack {
    position: relative;
    background: #333;
}

.annotation-canvas {
    position: absolute;
    z-index: 0;
    background: #f1f1f1;
    display: block;
}

.annotation-canvas-slider {
    position: absolute;
    z-index: 1;
    display: block;
}

.annotation-canvas-region {
    position: absolute;
    z-index: 2;
    display: block;
}

.generic-controls {
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
}